body{
    margin: 0;
    text-transform: uppercase;
    font-family: "Segoe UI", serif;
    min-height: 100vh;
    color: ghostwhite;
    background: linear-gradient(to top, #dfd2ff, #b99ffc)no-repeat center center / cover;
}
#title{
    font-size: 5em;
    text-align: center;
}
form {
    display: flex;
    font-size: 1.7rem;
    justify-content: center;
    margin: 15px 0;
    padding: 0.8rem;
    width: 100%;
}
form input {
    text-transform: uppercase;
    padding: 0.7em;
    font-size: 0.7em;
    border: none;
    outline: none;
    border-top-left-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
    max-width: 20em;
    width: 100%;
}
form button{
    font-weight: bold;
    text-transform: uppercase;
    color: ghostwhite;
    background-color: #332c29;
    border: none;
    border-top-right-radius: 0.7em;
    border-bottom-right-radius: 0.7em;

    transition: padding-left 0.3s ease;
    cursor: pointer;
}
form button:hover{

    padding-left: 2em;
}

#forList{
    margin-top: 3em;
    font-size: 1.7em;
    display: flex;
    justify-content: center;
}
.btn{
    border: none;
    padding: inherit;
    font-size: 0.7em;
    border-radius: 0.7em;
    cursor: pointer;

    transition: background-color 0.3s ease;
}
.done:hover{
    background-color: rgba(159, 255, 111, 0.75);
}
.delete:hover{
    background-color: rgba(255, 111, 111, 0.75);
}
.delete{
    margin-right: 0.5em;
}
.todo{
    padding: 0.3em 0.6em;
    border-radius: 0.7em;
    background-color: rgba(255, 239, 226, 0.18);
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: 15em;
}


li {
    font-weight: bold;
    flex: 1;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}